<!-- extends index-->
{% extends "index.html" %}
<!-- static -->
{% load static %}
<!-- contenido-->
{% block contenido %}
<main>
  <a style="font: bold" href="{% url 'Logout' %}">Exit</a>
  <a href="" href="{% url 'edit_profile' %}">Edit Profile</a>
  <h2 style="text-align: center">
    Bienvenido a la página de la escuela de aviacion militar Argentina
  </h2>
  <img
    src="{% static 'CicloMMXXII/assets/img/2021-egreso-escuela-de-aviacion-militar-10.jpg' %}"
    alt=""
  />
</main>
{% endblock %}
